In [35]:
import pandas as pd
import plotly.express as px
import numpy as np

In [2]:
df_DM = pd.read_excel("C:/Users/thiag/Documents/1 -Mestrado/SprintFinal/Defesa/Results/consolidado/DM.xlsx")
df_DM.head()

,file,n_obs,n_ma,n_fold_ts,n_ts,SAME_1_pct,SAME_5_pct,SAME_10_pct
0,DM ARIMA & n_obs__100 & n_ma__0 & n_fold_ts__8...,100,0,85,2,0.587983,0.472103,0.373391
1,DM ARIMA & n_obs__100 & n_ma__0 & n_fold_ts__8...,100,0,85,3,0.597345,0.393805,0.296460
2,DM ARIMA & n_obs__100 & n_ma__0 & n_fold_ts__9...,100,0,90,2,0.760000,0.560000,0.471111
3,DM ARIMA & n_obs__100 & n_ma__0 & n_fold_ts__9...,100,0,90,3,0.745536,0.558036,0.504464
4,DM ARIMA & n_obs__100 & n_ma__0 & n_fold_ts__9...,100,0,95,2,0.943231,0.716157,0.572052

In [26]:
df_DM_gby = df_DM.groupby(["n_obs","n_fold_ts"]).mean()[["SAME_5_pct"]].unstack()
df_DM_gby.columns = df_DM_gby.columns.droplevel()
df_DM_gby

n_fold_ts        85        90        95
n_obs
100        0.347875  0.454461  0.751164
250        0.186602  0.251958  0.430335
500        0.111131  0.155922  0.254815

In [42]:
melt_data = pd.melt(df_DM_gby,value_name="pct_equal")
melt_data["n_obs"] = [100,250,500,100,250,500,100,250,500]
melt_data

   n_fold_ts  pct_equal  n_obs
0         85   0.347875    100
1         85   0.186602    250
2         85   0.111131    500
3         90   0.454461    100
4         90   0.251958    250
5         90   0.155922    500
6         95   0.751164    100
7         95   0.430335    250
8         95   0.254815    500

In [43]:
fig = px.scatter(melt_data, y="MAE", color="model", facet_col="n_obs",error_y="ci_sup",error_y_minus="ci_inf")
fig.update_layout(width=800, height=400)
fig.update_layout(title="Performance out-of-sample por Modelo | CI 95% <br><sup>Variando o Tamanho da Amostra [100, 250, 500] observações</sup>",legend_title="Model",margin=dict(t=100))
fig.show()

ValueError: Value of 'y' is not the name of a column in 'data_frame'. Expected one of ['n_fold_ts', 'pct_equal', 'n_obs'] but received: MAE